:root {
  --bg-color: #14141f;
  --dark-color: rgb(45, 44, 51);
  --gray-color: rgb(122, 122, 122);
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(250, 248, 255);
  --orange-color: rgb(250, 196, 141);
  --lightPurple: rgb(231, 229, 253);
  --cream-color: rgb(254, 250, 241);
  --blue-color: rgb(78, 63, 238);
  --red-color: rgb(241, 97, 74);
  --green-color: rgb(54, 180, 59);
  --aqua-color: rgb(94, 212, 213);
  --pink-color: rgb(254, 244, 239);
  --purple-color:rgb(162, 77, 218);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: "Urbanist", "Roboto", sans-serif;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--bg-color);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

i {
  color: var(--white-color);
}

@keyframes textAnimation {
  0% {
    color: var(--blue-color);
  }
  25% {
    color: var(--blue-color);
  }
  50% {
    color: var(--pink-color);
  }
  100% {
    color: var(--gray-color);
  }
}

@keyframes heroImageAnimation {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  50% {
    transform: translateX(40px) translateY(10px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes shapeMovement-sm {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-38px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes shapeMovement-bg {
  0% {
    transform: translateX(-38px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-38px);
  }
}

.menu-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #14141f;
  border-bottom: 1px solid var(--gray-color);
  box-shadow: 0px 0px 10px var(--gray-color);
}

.header-nav-bar {
  width: 145rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  margin: 1rem 1rem;
}

.header-nav-bar ul {
  display: inline-flex;
}

.header-nav-bar li {
  margin: 1rem;
}

.header-nav-bar i {
  color: var(--white-color);
  margin-left: 0.3rem;
}

.header-nav-bar a {
  color: var(--white-color);
  padding: 1rem;
}

.header-nav-bar a:hover {
  background-color: var(--gray-color);
  border-radius: 0.5rem;
}

.sub-menu-1 {
  display: none;
}

.header-nav-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  margin-top: 1.5rem;
  margin-left: -1.5rem;
  background-color: var(--gray-color);
  border-radius: 1rem;
}

.header-nav-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 1rem;
}

.header-nav-bar ul li:hover .sub-menu-1 li {
  padding: 1rem;
  border-bottom: 1px solid var(--white-color);
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.header-nav-bar ul li:hover .sub-menu-1 :last-child {
  border-bottom: none;
}

.header-nav-bar ul li:hover .sub-menu-1 a {
  color: #343544;
}

.header-search-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  margin: 1rem 2rem;
  align-items: center;
}

.header-search-bar i {
  font-size: 2rem;
  color: var(--white-color);
}

.header-wallet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--blue-color);
  border-radius: 2rem;
  padding: 0.5rem 4rem;
}

.header-wallet:hover {
  box-shadow: 0px 0px 10px var(--blue-color);
}

.header-wallet p {
  margin-left: 1rem;
  color: var(--white-color);
  font-size: 1.5rem;
}

.switch-mode {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
}

.switch-mode img {
  margin: 0 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.switch-mode .dark-mood {
  height: 5rem;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
  align-items: center;
}

.main-hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-hero p {
  color: var(--gray-color);
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.main-hero h2 {
  font-size: 6rem;
  color: var(--white-color);
  margin-bottom: 2rem;
}

.main-hero h2:hover {
  animation: textAnimation 2s infinite;
}

.main-hero span {
  color: var(--white-color);
  margin: 0;
  margin-top: -0.6em;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
  transform: rotate(-7deg);
}

.hero-image {
  position: relative;
}

.hero-image img {
  animation: heroImageAnimation 5s infinite ease-in-out;
}

.hero-image-saturn {
  position: absolute;
  width: 70rem;
  height: 100%;
  right: -155px;
  bottom: 0;
}

.sm-shape {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-image: linear-gradient(to right, var(--blue-color), var(--purple-color));
  animation: shapeMovement-sm 5s infinite ease-in-out;
}

.bg-shape {
  position: absolute;
  top: 100px;
  bottom: -150px;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-image: linear-gradient(to right, var(--blue-color), var(--purple-color));
  animation: shapeMovement-bg 5s infinite ease-in-out;
}

.m-shape {
  background-color: var(--bg-color);
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 6rem;
  height: 6rem;
  border: 2px solid var(--blue-color);
  border-radius: 50%;
  box-shadow: 8px 8px 35px var(--white-color);
  animation: shapeMovement-bg 5s infinite ease-in-out;
}

.hero-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.hero-explore {
  border: 1px solid var(--blue-color);
  background-color: var(--bg-color);
  color: var(--white-color);
  border-radius: 2rem;
  padding: 2rem 2rem;
  margin: 0 2rem;
  font-size: 1.5rem;
}

.hero-explore:hover {
  box-shadow: 0px 0px 10px var(--blue-color);
}

.hero-create {
  border: 1px solid var(--blue-color);
  background-color: var(--bg-color);
  color: var(--white-color);
  border-radius: 2rem;
  padding: 2rem 2rem;
  margin: 0 2rem;
  font-size: 1.5rem;
}

.hero-create:hover {
  box-shadow: 0px 0px 10px var(--blue-color);
}

li {
  color: white;
  font-size: 1.5rem;
}
/*# sourceMappingURL=main.css.map */