:root {
  --bg-color: #14141f;
  --dark-color: rgb(45, 44, 51);
  --gray-color: rgb(122, 122, 122);
  --darkGray-color:rgb(51, 52, 67);
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(250, 248, 255);
  --orange-color: rgb(250, 196, 141);
  --lightPurple: rgb(231, 229, 253);
  --cream-color: rgb(254, 250, 241);
  --blue-color: rgb(78, 63, 238);
  --red-color: rgb(241, 97, 74);
  --green-color: rgb(54, 180, 59);
  --aqua-color: rgb(94, 212, 213);
  --pink-color: rgb(254, 244, 239);
  --purple-color:rgb(162, 77, 218);
}

.dark-theme {
  --bg-color:rgb(250, 248, 255);
  --black-color:  rgb(250, 248, 255);
  --white-color: rgb(0, 0, 0);
  --darkGray-color:rgb(200, 200, 200);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: "Urbanist", "Roboto", sans-serif;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--bg-color);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

i {
  color: var(--white-color);
}

@keyframes textAnimation {
  0% {
    color: var(--blue-color);
  }
  25% {
    color: var(--blue-color);
  }
  50% {
    color: var(--pink-color);
  }
  100% {
    color: var(--gray-color);
  }
}

@keyframes heroImageAnimation {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  50% {
    transform: translateX(40px) translateY(10px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes shapeMovement-sm {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-38px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes shapeMovement-bg {
  0% {
    transform: translateX(-38px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-38px);
  }
}

@keyframes historyMove {
  100% {
    transform: rotate(360deg);
  }
}

.features-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin: 5rem 0;
}

.feature-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.feature-item h4 {
  color: var(--white-color);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.feature-item p {
  color: var(--gray-color);
  font-size: 1.5rem;
}

.feature-item i {
  font-size: 2rem;
}

.feature-item-icon-1 {
  background-color: var(--blue-color);
  padding: 1.3rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.feature-item-icon-1:hover {
  box-shadow: 0px 0px 50px var(--blue-color);
  cursor: pointer;
}

.feature-item-icon-2 {
  background-color: var(--green-color);
  padding: 1.3rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.feature-item-icon-2:hover {
  box-shadow: 0px 0px 50px var(--green-color);
  cursor: pointer;
}

.feature-item-icon-3 {
  background-color: var(--purple-color);
  padding: 1.3rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.feature-item-icon-3:hover {
  box-shadow: 0px 0px 50px var(--purple-color);
  cursor: pointer;
}

.feature-item-icon-4 {
  background-color: var(--red-color);
  padding: 1.3rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.feature-item-icon-4:hover {
  box-shadow: 0px 0px 50px var(--red-color);
  cursor: pointer;
}

.live-auction-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--black-color);
  margin: 5rem 0;
}

.live-auction-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
  font-size: 2rem;
  margin: 3rem 3rem;
}

.live-auction-header a {
  color: var(--white-color);
  font-size: 2rem;
}

.live-auction-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--darkGray-color);
  position: relative;
  border-radius: 2rem;
  width: 35rem;
  margin: 3rem 0.5rem;
}

.live-auction-post img {
  border-radius: 1rem;
  margin: 2rem;
}

.live-auction-post h3 {
  color: var(--white-color);
  font-size: 2rem;
}

.swiper-slide {
  width: 35rem !important;
}

.place-bid {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 180px;
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.place-bid:hover {
  box-shadow: 0px 0px 10px var(--blue-color);
  border: var(--gray-color);
}

.place-bid i {
  color: var(--blue-color);
  margin: 0 0.3rem;
  font-size: 1rem;
}

.place-bid p {
  font-size: 1rem;
}

.timer {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 35px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--bg-color);
}

.timer p {
  color: var(--white-color);
  margin: 0 0.5rem;
}

.post-creator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.post-creator-description {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.post-creator-description span {
  color: var(--gray-color);
  font-size: 1.3rem;
}

.post-creator-description p {
  color: var(--white-color);
  font-size: 1.3rem;
}

.post-creator-description img {
  width: 20%;
  height: 30%;
  margin: 1rem 1rem 1rem 0;
}

.description-creator {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

.post-creator-tag {
  margin-left: 2rem;
  color: var(--white-color);
  font-size: 1.3rem;
  background-color: var(--blue-color);
  border-radius: 1rem;
  padding: 0.8rem;
}

.border {
  background-color: var(--gray-color);
  padding: 0.1rem;
  width: 85%;
}

.auction-cost {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.auction-cost-description {
  display: flex;
  flex-direction: column;
}

.auction-cost-description p {
  color: var(--white-color);
  font-size: 1.6rem;
}

.auction-cost-description span {
  color: var(--gray-color);
  font-size: 1.3rem;
}

.auction-heart i {
  font-size: 3rem;
  cursor: pointer;
}

.swiper-pagination-bullet {
  background: var(--white-color);
  border-radius: 2.5rem;
}

.collection-posts-container {
  display: flex;
  flex-direction: row;
}

.collection-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: var(--darkGray-color);
  border-radius: 2rem;
  padding: 1rem;
  margin: 0 2rem;
}

.post-collection {
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.post-collection > *:nth-child(1) {
  grid-column: 1/4;
}

.post-collection > *:nth-child(2) {
  grid-column: 4/-1;
}

.post-collection > *:nth-child(3) {
  grid-row: 2/3;
  grid-column: 1/3;
}

.post-collection > *:nth-child(4) {
  grid-row: 2/3;
  grid-column: 3/5;
}

.post-collection > *:nth-child(5) {
  grid-row: 2/3;
  grid-column: 5/-1;
}

.image-collection {
  border-radius: 0.8rem;
  overflow: hidden;
  cursor: pointer;
}

.image-collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-out;
}

.image-collection:hover img {
  transform: scale(1.15);
}

.detail-collection-post {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 0;
}

.detail-collection-post img {
  border-radius: 2rem;
  width: 15%;
}

.detail-collection-post h3 {
  color: var(--white-color);
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.detail-collection-post span {
  color: var(--gray-color);
  font-size: 1rem;
}

.detail-collection-post p {
  color: var(--white-color);
  font-size: 1.3rem;
}

.detail-collection-post i {
  font-size: 3rem;
  cursor: pointer;
}

.seller-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.seller-header h2 {
  color: var(--white-color);
  font-size: 3rem;
  margin: 3rem 3rem;
}

.seller-container-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.seller-items {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  text-align: left;
}

.seller-post {
  width: 30%;
  position: relative;
  margin-right: 2rem;
}

.seller-post img {
  width: 100%;
  border-radius: 2rem;
}

.seller-post i {
  color: var(--white-color);
  background-color: var(--purple-color);
  padding: 0.1rem;
  font-size: 2rem;
  border-radius: 50%;
  position: absolute;
  left: 75px;
  bottom: 0;
}

.seller-post-description {
  display: flex;
  flex-direction: column;
}

.seller-post-description p {
  color: var(--white-color);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.seller-post-description span {
  color: var(--gray-color);
  font-size: 1.4rem;
}

.hero-header {
  display: flex;
  flex-direction: column;
  background-image: url("/images/bg-.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.edit-profile {
  display: flex;
  flex-direction: column;
  margin: 8rem 0;
}

.edit-profile h3 {
  font-size: 5rem;
  color: var(--white-color);
}

.edit-profile span {
  color: var(--gray-color);
  font-size: 1.5rem;
  margin: 0 1rem;
}

.edit-profile p {
  color: var(--white-color);
}

.edit-profile-text {
  color: var(--white-color) !important;
}

.header-profile-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-profile-image img {
  width: 50%;
  border-radius: 1rem;
}

.header-profile-detail .fa-bell {
  background-color: var(--gray-color);
  border-radius: 1rem;
  padding: 0.8rem;
  position: relative;
}

.header-profile-notification {
  display: flex;
  flex-direction: row;
  background-color: var(--red-color);
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  padding: 0.8rem;
  position: absolute;
  right: 310px;
  top: 10px;
  text-align: center;
  align-items: center;
}

.header-profile-notification p {
  font-size: 1.3rem;
  color: var(--white-color);
}

.today-pick-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.today-pick-buttons-container button {
  padding: 1rem;
  margin: 0 1rem;
  border: 1px solid var(--white-color);
  border-radius: 2rem;
  background-color: transparent;
  color: var(--white-color);
}

.today-pick-buttons-container button:hover {
  background-color: var(--white-color);
  box-shadow: 0px 0px 10px var(--blue-color);
  cursor: pointer;
  color: var(--black-color);
  transition: 0.5s ease-in-out;
}

.today-pick-buttons-container button:hover i {
  color: var(--black-color);
}

.today-pick-buttons-container button i {
  margin: 0 1rem;
}

.today-pick-buttons > button {
  padding: 1rem;
  margin: 0 1rem;
  border: 1px solid var(--white-color);
  border-radius: 2rem;
  background-color: transparent;
  color: var(--white-color);
}

.today-pick-buttons > button:hover {
  background-color: var(--white-color);
  box-shadow: 0px 0px 10px var(--blue-color);
  cursor: pointer;
  color: var(--black-color);
  transition: 0.5s ease-in-out;
}

.today-pick-buttons > button:hover i {
  color: var(--black-color);
}

.today-pick-buttons > button i {
  margin: 0 1rem;
}

.view-history {
  display: flex;
  flex-direction: row;
}

.view-history p {
  color: var(--white-color);
  font-size: 1.4rem;
}

.view-history i {
  font-size: 1.4rem;
  margin: 0 1rem;
}

.view-history i:hover {
  animation: historyMove ease-in-out 2s;
}

.today-pick-post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.like {
  position: absolute;
  right: 35px;
  top: 25px;
}

.like i {
  font-size: 2rem;
}

.load-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.load-more button {
  padding: 1rem;
  margin: 0 1rem;
  border: 1px solid var(--white-color);
  border-radius: 2rem;
  background-color: transparent;
  color: var(--white-color);
}

.load-more button:hover {
  background-color: var(--white-color);
  box-shadow: 0px 0px 10px var(--blue-color);
  cursor: pointer;
  color: var(--black-color);
  transition: 0.5s ease-in-out;
}

.header-home {
  position: sticky;
  top: 0;
  z-index: 99;
}

.menu-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--gray-color);
  box-shadow: 0px 0px 10px var(--gray-color);
}

.header-nav-bar {
  background-color: var(--color-black);
  width: 160rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
  position: relative;
}

.header-nav-bar ul {
  list-style: none;
  display: flex;
}

.header-nav-bar ul li {
  padding: 1rem 1.8rem;
  position: relative;
}

.header-nav-bar ul li a {
  font-size: 1.5rem;
  color: var(--white-color);
  text-decoration: none;
  transition: all 0.3s;
  border-radius: 1rem;
}

.header-nav-bar ul li a:hover {
  border-radius: 1rem;
}

.sub-menu-1 {
  display: none;
}

.header-nav-bar li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--gray-color);
  border-radius: 2rem;
}

.header-nav-bar li:hover .sub-menu-1 :last-child {
  border-bottom: none;
}

.header-nav-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}

.header-nav-bar li:hover .sub-menu-1 ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px solid var(--white-color);
}

.sub-menu-1 {
  display: none;
}

.sub-menu-1 ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}

.header-search-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin: 1rem 2rem;
  align-items: center;
}

.header-search-bar:hover {
  cursor: pointer;
}

.header-search-bar i {
  font-size: 2rem;
  color: var(--white-color);
}

.header-wallet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--blue-color);
  border-radius: 2rem;
  padding: 0.5rem 4rem;
}

.header-wallet:hover {
  box-shadow: 0px 0px 10px var(--blue-color);
  cursor: pointer;
}

.header-wallet p {
  margin-left: 1rem;
  color: var(--white-color);
  font-size: 1.5rem;
}

.switch-mode {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.switch-mode i {
  color: var(--white-color);
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
  align-items: center;
}

.main-hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-hero p {
  color: var(--gray-color);
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.main-hero h2 {
  font-size: 6rem;
  color: var(--white-color);
  margin-bottom: 2rem;
}

.main-hero h2:hover {
  animation: textAnimation 2s infinite;
}

.main-hero span {
  color: var(--white-color);
  margin: 0;
  margin-top: -0.6em;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
  transform: rotate(-7deg);
}

.hero-image {
  position: relative;
}

.hero-image img {
  animation: heroImageAnimation 5s infinite ease-in-out;
}

.hero-image-saturn {
  position: absolute;
  right: -80px;
  width: 60rem;
  height: 100%;
  bottom: 0;
}

.sm-shape {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-image: linear-gradient(to right, var(--blue-color), var(--purple-color));
  animation: shapeMovement-sm 5s infinite ease-in-out;
}

.bg-shape {
  position: absolute;
  top: 130px;
  right: 500px;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-image: linear-gradient(to right, var(--blue-color), var(--purple-color));
  animation: shapeMovement-bg 5s infinite ease-in-out;
}

.m-shape {
  background-color: var(--bg-color);
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 6rem;
  height: 6rem;
  border: 2px solid var(--blue-color);
  border-radius: 50%;
  box-shadow: 8px 8px 35px var(--white-color);
  animation: shapeMovement-bg 5s infinite ease-in-out;
}

.hero-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.hero-explore {
  border: 1px solid var(--blue-color);
  background-color: var(--bg-color);
  color: var(--white-color);
  border-radius: 2rem;
  padding: 2rem 2rem;
  margin: 0 2rem;
  font-size: 1.5rem;
}

.hero-explore:hover {
  box-shadow: 0px 0px 10px var(--blue-color);
  cursor: pointer;
}

.hero-create {
  border: 1px solid var(--blue-color);
  background-color: var(--bg-color);
  color: var(--white-color);
  border-radius: 2rem;
  padding: 2rem 2rem;
  margin: 0 2rem;
  font-size: 1.5rem;
}

.hero-create:hover {
  box-shadow: 0px 0px 10px var(--blue-color);
  cursor: pointer;
}

.sticky-social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6rem;
  position: fixed;
  top: 25%;
  left: -50px;
  z-index: 100;
  border-radius: 5rem;
  box-shadow: 0px 4px 13px 0 rgba(168, 67, 253, 0.3);
  background-color: var(--blue-color);
  border-right: 2px solid var(--purple-color);
}

.sticky-social-media:hover {
  left: 0;
  transition: ease-in-out 1s;
}

.sticky-social-media a {
  margin: 2.5rem;
}

.sticky-social-media i {
  font-size: 2rem;
  transform: rotate(20dg);
  transition: transform 0.5s ease-in-out;
}

.sticky-social-media i:hover {
  transform: rotate(-360deg);
}

.footer {
  background-color: var(--black-color);
  margin-top: 5rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}

.footer-logo {
  display: flex;
  flex-direction: column;
}

.footer-logo p {
  color: var(--gray-color);
  font-size: 1.5rem;
  margin: 0 3rem;
}

.footer-logo img {
  width: 133px;
  margin: 0 3rem;
}

.footer-my-account,
.footer-resources,
.footer-company {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-my-account h3,
.footer-resources h3,
.footer-company h3 {
  font-size: 3rem;
  color: var(--white-color);
}

.footer-my-account li,
.footer-resources li,
.footer-company li {
  color: var(--gray-color);
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.subscribe {
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
}

.subscribe h3 {
  font-size: 2.5rem;
  color: var(--white-color);
  margin: 1rem 0;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--darkGray-color);
  border-radius: 1rem;
  padding: 1rem;
}

.subscribe-form input {
  width: 100%;
  height: 65px;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 1rem;
  margin-bottom: 1rem;
}

.subscribe-form i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: var(--white-color);
}

.subscribe-form button {
  box-sizing: border-box;
  background-color: var(--darkGray-color);
  width: 30%;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.footer-social-media ul {
  display: flex;
  flex-direction: row;
}

.footer-social-media ul li {
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: var(--darkGray-color);
}

.footer-social-media ul li i {
  font-size: 2rem;
}

.footer-social-media ul li:hover {
  background-color: var(--gray-color);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  border-radius: 5rem;
  outline: none;
  background-color: var(--white-color);
  cursor: pointer;
  padding: 15px;
  font-size: 2rem;
}

#myBtn i {
  color: var(--black-color);
}

#myBtn:hover {
  background-color: #555;
}

.main-container {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 8rem;
}

.profile-rt {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
}

.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose-profile-cover {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.choose-profile-cover h3 {
  margin: 2rem 3rem 0 3rem;
}

.profile-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 3rem;
}

.profile-form h3 {
  font-size: 2.5rem;
  color: var(--white-color);
}

.form-container {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30rem;
  height: 40rem;
  border-radius: 2rem;
  margin: 2rem;
  background-color: var(--gray-color);
}

.card-detail img {
  width: 85%;
  border-radius: 2rem;
  margin: 1rem 2rem 0 2rem;
}

.card-detail button {
  width: 75%;
  border-radius: 2rem;
  background: transparent;
  padding: 1.4rem;
  margin: 1rem 1rem;
  border: 1px solid var(--white-color);
  color: var(--white-color);
}

.card-detail button:hover {
  box-shadow: 0px 0px 10px var(--darkGray-color);
  background-color: var(--white-color);
  color: var(--black-color);
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.upload-photo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 2rem 0;
}

.upload-file-header {
  color: var(--white-color);
  font-size: 1.8rem;
  display: flex;
  margin-bottom: 5rem;
  align-items: center;
  text-align: center;
}

.image-file-1 img {
  width: 20rem;
  border-radius: 2rem;
  padding: 0.3rem;
}

.image-file-1 img:hover {
  border: 2px solid var(--purple-color);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.image-file-2 img {
  width: 20rem;
  border-radius: 2rem;
  padding: 0.3rem;
}

.image-file-2 img:hover {
  border: 2px solid var(--purple-color);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.upload-file {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 10rem;
  border: 1px solid var(--white-color);
  border-radius: 2rem;
}

.dropzone {
  min-height: 50px !important;
  width: 55%;
  border-radius: 2rem !important;
  background: transparent !important;
  padding: 1.4rem !important;
  margin: 1rem 1rem !important;
  border: 1px solid var(--white-color) !important;
  color: var(--white-color) !important;
}

.account-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.account-info h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.first-name,
.last-name,
.email,
.bio {
  font-size: 1.5rem;
  color: var(--white-color);
  font-weight: 200;
  margin: 1rem 0;
}

#fname,
#lname,
#bio-input {
  width: 100%;
  border-radius: 1rem;
  background: transparent;
  color: var(--white-color);
  border: 1px solid var(--gray-color);
  padding: 1rem;
  margin-bottom: 2rem;
  outline: none;
}

.update-profile {
  display: flex;
  align-items: center;
  width: 100%;
}

.update-profile button {
  padding: 2rem;
  background: transparent;
  border: 1px solid var(--white-color);
  border-radius: 2rem;
  color: var(--white-color);
  cursor: pointer;
}

.update-profile button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px var(--blue-color);
}

.facebook,
.twitter,
.discord {
  font-size: 1.5rem;
  color: var(--white-color);
  font-weight: 200;
  margin: 1rem 0;
}

#facebook,
#twitter,
#discord {
  width: 100%;
  border-radius: 1rem;
  background: transparent;
  border: 1px solid var(--gray-color);
  color: var(--white-color);
  padding: 1rem;
  margin-bottom: 2rem;
  outline: none;
}

.facebook-btn,
.twitter-btn,
.discord-btn {
  width: 55%;
  padding: 1rem;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-size: 1.5rem;
  border-radius: 2rem;
  border: none;
}

.facebook-btn:hover,
.twitter-btn:hover,
.discord-btn:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}

.facebook-btn i,
.twitter-btn i,
.discord-btn i {
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.footer {
  background-color: var(--black-color);
  margin-top: 5rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}

.footer-logo {
  display: flex;
  flex-direction: column;
}

.footer-logo p {
  color: var(--gray-color);
  font-size: 1.5rem;
  margin: 0 3rem;
}

.footer-logo img {
  width: 133px;
  margin: 0 3rem;
}

.footer-my-account,
.footer-resources,
.footer-company {
  display: flex;
  justify-content: center;
}

.footer-my-account h3,
.footer-resources h3,
.footer-company h3 {
  font-size: 3rem;
  color: var(--white-color);
}

.footer-my-account li,
.footer-resources li,
.footer-company li {
  color: var(--gray-color);
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.subscribe {
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
}

.subscribe h3 {
  font-size: 2.5rem;
  color: var(--white-color);
  margin: 1rem 0;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--darkGray-color);
  border-radius: 1rem;
  padding: 1rem;
}

.subscribe-form input {
  width: 100%;
  height: 65px;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 1rem;
  margin-bottom: 1rem;
}

.subscribe-form input i {
  display: flex;
  flex-direction: row;
  font-size: 4rem;
  background-color: var(--gray-color);
  color: var(--white-color);
  padding: 2rem;
  justify-content: flex-end;
  border-radius: 0 1rem 1rem 0;
}

.subscribe-form button {
  box-sizing: border-box;
  background-color: var(--darkGray-color);
  width: 30%;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.footer-social-media ul {
  display: flex;
  flex-direction: row;
}

.footer-social-media ul li {
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: var(--darkGray-color);
}

.footer-social-media ul li:hover {
  background-color: var(--gray-color);
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
  margin: 1.9rem;
  overflow: hidden;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.menu-container-profile {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.header-nav-bar-profile {
  background-color: var(--color-black);
  width: 160rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
  position: relative;
}

.header-nav-bar-profile ul {
  list-style: none;
  display: flex;
}

.header-nav-bar-profile ul li {
  padding: 10px 20px;
  position: relative;
}

.header-nav-bar-profile ul li a {
  font-size: 1.5rem;
  color: var(--white-color);
  text-decoration: none;
  transition: all 0.3s;
  border-radius: 1rem;
}

.header-nav-bar-profile ul li a:hover {
  border-radius: 1rem;
}

.sub-menu-1__profile {
  display: none;
}

.header-nav-bar-profile li:hover .sub-menu-1__profile {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--gray-color);
  border-radius: 2rem;
}

.header-nav-bar-profile li:hover .sub-menu-1__profile :last-child {
  border-bottom: none;
}

.header-nav-bar-profile ul li:hover .sub-menu-1__profile ul {
  display: block;
  margin: 10px;
}

.header-nav-bar-profile li:hover .sub-menu-1__profile ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px solid var(--white-color);
}

.sub-menu-1 {
  display: none;
}

.sub-menu-1 ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}

.header-search-bar-profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin: 1rem 2rem;
  align-items: center;
}

.header-search-bar-profile:hover {
  cursor: pointer;
}

.header-search-bar-profile i {
  font-size: 2rem;
  color: var(--white-color);
}

.switch-mode {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
}

.hero-header__profile {
  display: flex;
  flex-direction: column;
  background-image: url("/images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.edit-profile__profile {
  display: flex;
  flex-direction: column;
  margin: 8rem 0;
}

.edit-profile__profile h3 {
  font-size: 5rem;
  color: var(--white-color);
}

.edit-profile__profile span {
  color: var(--gray-color);
  font-size: 1.5rem;
  margin: 0 1rem;
}

.edit-profile__profile p {
  color: var(--white-color);
}

.edit-profile-text__profile {
  color: var(--white-color) !important;
}

.header-profile-detail__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-profile-image__profile img {
  width: 60%;
  border-radius: 1rem;
}

.header-profile-detail__profile .fa-bell {
  background-color: var(--gray-color);
  border-radius: 1rem;
  padding: 0.8rem;
  position: relative;
}

.header-profile-notification__profile {
  background-color: var(--red-color);
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  padding: 0.8rem;
  position: absolute;
  right: 285px;
  top: 10px;
  display: flex;
  text-align: center;
  align-items: center;
}

.header-profile-notification__profile p {
  font-size: 1.3rem;
  color: var(--white-color);
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  justify-content: center;
}

.hero-details {
  display: flex;
  flex-direction: column;
}

.hero-details h3 {
  color: var(--white-color);
  font-size: 3rem;
}

.hero-social {
  display: flex;
  justify-content: space-between;
}

.hero-like,
.hero-send {
  display: flex;
}

.hero-seen,
.hero-telegram {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  background-color: var(--black-color);
  padding: 0.5rem;
  border-radius: 3rem;
}

.hero-seen p,
.hero-telegram p {
  color: var(--white-color);
  font-size: 1.5rem;
}

.hero-seen i,
.hero-telegram i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.hero-heart,
.hero-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black-color);
  padding: 0.5rem;
  border-radius: 3rem;
}

.hero-heart p,
.hero-dots p {
  color: var(--white-color);
  font-size: 1.5rem;
}

.hero-heart i,
.hero-dots i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.hero-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.left-profile,
.right-profile {
  background-color: var(--darkGray-color);
  border-radius: 3rem;
  display: flex;
  align-items: center;
}

.left-profile img,
.right-profile img {
  height: 75%;
  padding: 0 1rem;
  border-radius: 3rem;
}

.left-profile__description,
.right-profile__description {
  display: flex;
  flex-direction: column;
}

.left-profile__description span,
.right-profile__description span {
  font-size: 1.5rem;
  color: var(--gray-color);
}

.left-profile__description p,
.right-profile__description p {
  font-size: 1.5rem;
  color: var(--white-color);
}

.hero-description {
  width: 100%;
  color: var(--gray-color);
  font-size: 2rem;
  margin: 3rem 0;
}

.hero-bid-count {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.hero-bid,
.hero-countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkGray-color);
  height: 10rem;
  border-radius: 3rem;
}

.hero-bid p,
.hero-countdown p {
  font-size: 2rem;
  color: var(--white-color);
  margin: 0 1rem;
}

.hero-place-bid {
  padding: 1rem;
  border-radius: 3rem;
  background-color: transparent;
  border: 1px solid var(--white-color);
  color: var(--white-color);
}

.hero-place-bid:hover {
  box-shadow: 0px 0px 20px var(--blue-color);
  cursor: pointer;
  background-color: var(--white-color);
  color: var(--black-color);
}

.hero-place-bid i {
  margin: 0 1.3rem;
  color: var(--blue-color);
}

.active-tabs {
  width: 800px;
  padding: 10px;
  position: relative;
  margin: 20px auto;
}

.active-tabs input {
  opacity: 0;
  display: none;
  visibility: hidden;
}

.btn {
  background: var(--purple-color);
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  font-family: "open sans";
  font-size: 13px;
  height: 40px;
  line-height: 35px;
  margin-right: 1px;
  text-align: center;
  width: 100px;
  opacity: 0.8;
  transition: all 0.4s;
}

.btn:hover {
  transform: translateY(-5px);
  opacity: 1;
}

.active-tabs input:checked + label {
  background: #fff;
  opacity: 1;
  transform: translateY(-5px);
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.3);
  color: #1babbb;
}

.tabs-container {
  width: 100%;
  position: relative;
  float: left;
  top: -5px;
  background: transparent;
}

.tab-1,
.tab-2,
.tab-3 {
  height: 200px;
  width: 100%;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  overflow: hidden;
}

.tab-2,
.tab-4,
.tab-6 {
  height: 300px;
}

.tab-1 p,
.tab-2 p,
.tab-3 p {
  color: var(--gray-color);
  font-size: 2rem;
  margin: 1rem 0;
}

.tab-2 p,
.tab-4 p,
.tab-6 p {
  line-height: 300px;
}

.btn-1:checked ~ .tabs-container .tab-1,
.btn-2:checked ~ .tabs-container .tab-2,
.btn-3:checked ~ .tabs-container .tab-3,
.btn-4:checked ~ .tabs-container .tab-4,
.btn-5:checked ~ .tabs-container .tab-5,
.btn-6:checked ~ .tabs-container .tab-6,
.btn-7:checked ~ .tabs-container .tab-7 {
  position: relative;
  visibility: visible;
  top: 0;
  left: 0;
  opacity: 1;
}

.seller-items-details {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  text-align: left;
}

.seller-post-details {
  width: 30%;
  position: relative;
  margin-right: 2rem;
  margin: 2rem 0;
}

.seller-post-details img {
  width: 40%;
  border-radius: 2rem;
}

.live-auction-container-detail {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--black-color);
  margin: 5rem 0;
}

.live-auction-header-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
  font-size: 2rem;
  margin: 3rem 3rem;
}

.live-auction-header-detail a {
  color: var(--white-color);
  font-size: 2rem;
}

.live-auction-post-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--darkGray-color);
  position: relative;
  border-radius: 2rem;
  width: 35rem;
  margin: 3rem 0.5rem;
}

.live-auction-post-detail img {
  border-radius: 1rem;
  margin: 2rem;
}

.live-auction-post-detail h3 {
  color: var(--white-color);
  font-size: 2rem;
}

.swiper-slide {
  width: 35rem !important;
}

.place-bid {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 180px;
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.place-bid:hover {
  box-shadow: 0px 0px 10px var(--blue-color);
  border: var(--gray-color);
}

.place-bid i {
  color: var(--blue-color);
  margin: 0 0.3rem;
  font-size: 1rem;
}

.place-bid p {
  font-size: 1rem;
}

.timer {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 35px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--bg-color);
}

.timer p {
  color: var(--white-color);
  margin: 0 0.5rem;
}

.post-creator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.post-creator-description {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.post-creator-description span {
  color: var(--gray-color);
  font-size: 1.3rem;
}

.post-creator-description p {
  color: var(--white-color);
  font-size: 1.3rem;
}

.post-creator-description img {
  width: 20%;
  height: 30%;
  margin: 1rem 1rem 1rem 0;
}

.description-creator {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

.post-creator-tag {
  margin-left: 2rem;
  color: var(--white-color);
  font-size: 1.3rem;
  background-color: var(--blue-color);
  border-radius: 1rem;
  padding: 0.8rem;
}

.border {
  background-color: var(--gray-color);
  padding: 0.1rem;
  width: 85%;
}

.auction-cost {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.auction-cost-description {
  display: flex;
  flex-direction: column;
}

.auction-cost-description p {
  color: var(--white-color);
  font-size: 1.6rem;
}

.auction-cost-description span {
  color: var(--gray-color);
  font-size: 1.3rem;
}

.auction-heart i {
  font-size: 3rem;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */