.menu-container-profile {
    @include FlexRow;
    text-align: center;
    align-items: center;
  }
  .header-nav-bar-profile {
    background-color: var(--color-black);
    width: 160rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 5%;
    margin-left: 3rem;
    position: relative;
  }
  
  .header-nav-bar-profile ul {
    list-style: none;
    display: flex;
  }
  
  .header-nav-bar-profile ul li {
    padding: 10px 20px;
    position: relative;
  }
  
  .header-nav-bar-profile ul li a {
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    transition: all 0.3s;
    border-radius: 1rem;
  }
  
  .header-nav-bar-profile ul li a:hover {
    border-radius: 1rem;
    // background-color: var(--gray-color);
    // padding: 0.5rem;
  }
  
  .sub-menu-1__profile {
    display: none;
  }
  
  .header-nav-bar-profile li:hover .sub-menu-1__profile {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--gray-color);
    border-radius: 2rem;
  
    :last-child {
      border-bottom: none;
    }
  }
  
  .header-nav-bar-profile ul li:hover .sub-menu-1__profile ul {
    display: block;
    margin: 10px;
  }
  
  .header-nav-bar-profile li:hover .sub-menu-1__profile ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid var(--white-color);
  }
  
  .sub-menu-1 {
    display: none;
  }
  
  .sub-menu-1 ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
  }
  
  .header-search-bar-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin: 1rem 2rem;
    align-items: center;
  
    &:hover {
      cursor: pointer;
    }
  
    i {
      font-size: 2rem;
      color: var(--white-color);
    }
  }

  
  .switch-mode {
    @include FlexRow;
    justify-content: flex-end;
    margin: 0;
  
    // img {
    //   margin: 0 1rem;
    //   border-radius: 0.5rem;
    //   padding: 1rem;
    // }
  
    // .dark-mood {
    //   height: 5rem;
    // }
  }
  .hero-header__profile {
    @include FlexColumn;
    background-image: url("/images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .edit-profile__profile {
    @include FlexColumn;
    margin: 8rem 0;
    h3 {
      font-size: 5rem;
      color: var(--white-color);
    }
  
    span {
      color: var(--gray-color);
      font-size: 1.5rem;
      margin: 0 1rem;
    }
    p {
      color: var(--white-color);
    }
  }
  .edit-profile-text__profile {
    color: var(--white-color) !important;
  }
  .header-profile-detail__profile {
    @include FlexRow;
    align-items: center;
  }
  
  .header-profile-image__profile img {
    width: 60%;
    border-radius: 1rem;
  }
  .header-profile-detail__profile .fa-bell {
    background-color: var(--gray-color);
    border-radius: 1rem;
    padding: 0.8rem;
    position: relative;
  }
  
  .header-profile-notification__profile {
    background-color: var(--red-color);
    width: 2rem;
    height: 2rem;
    border-radius: 5rem;
    padding: 0.8rem;
    position: absolute;
    right: 285px;
    top: 10px;
    display: flex;
    text-align: center;
    align-items: center;
  
    p {
      font-size: 1.3rem;
      color: var(--white-color);
    }
  }
  