.header-home{
  position: sticky;
  top: 0;
  z-index: 99;
}
.menu-container {
  @include FlexRow;
  text-align: center;
  align-items: center;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--gray-color);
  box-shadow: 0px 0px 10px var(--gray-color);
}
.header-nav-bar {
  background-color: var(--color-black);
  width: 160rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0 5%;
  margin-left: 3rem;
  position: relative;
}

.header-nav-bar ul {
  list-style: none;
  display: flex;
}

.header-nav-bar ul li {
  padding: 1rem 1.8rem;
  position: relative;
}

.header-nav-bar ul li a {
  font-size: 1.5rem;
  color: var(--white-color);
  text-decoration: none;
  transition: all 0.3s;
  border-radius: 1rem;
}

.header-nav-bar ul li a:hover {
  border-radius: 1rem;
  // background-color: var(--gray-color);
  // padding: 0.5rem;
}

.sub-menu-1 {
  display: none;
}

.header-nav-bar li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--gray-color);
  border-radius: 2rem;

  :last-child {
    border-bottom: none;
  }
}

.header-nav-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}

.header-nav-bar li:hover .sub-menu-1 ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px solid var(--white-color);
}

.sub-menu-1 {
  display: none;
}

.sub-menu-1 ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}

.header-search-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin: 1rem 2rem;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  i {
    font-size: 2rem;
    color: var(--white-color);
  }
}

.header-wallet {
  @include FlexRow;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--blue-color);
  border-radius: 2rem;
  padding: 0.5rem 4rem;

  &:hover {
    box-shadow: 0px 0px 10px var(--blue-color);
    cursor: pointer;
  }

  p {
    margin-left: 1rem;
    color: var(--white-color);
    font-size: 1.5rem;
  }
}

.switch-mode {
  @include FlexRow;
  justify-content: flex-end;

  i {
    color: var(--white-color);
    cursor: pointer;
  }
}